header
  .logo 
    a(href=url+"") 
      img(src="/assets/images/logo.svg")
  .menuTrigger
    .jsMenuTrigger 
      span 
      span 
      span 
  nav.mainMenu 
    ul 
      li 
        a(href=url+"aboutus/") About Us
      li 
        a(href=url+"recipes/") Recipes
      li 
        a(href=url+"categories/") Category
      li 
        a(href=url+"contactus/") Contact Us